* {
  font-family: Ubuntu;
}

button {
  margin: .25em;
}

.tbutton {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .4em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.tbutton:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-tilt {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .4em .8em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-tilt:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton-tilt:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-tilt2 {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .8em .4em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-tilt2:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton-tilt2:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-left {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .8em .3em .3em .8em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-left:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton-left:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-right {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .3em .8em .8em .3em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-right:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton-right:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-solid {
  border: none;
  padding: .6em 1em;
  border-radius: .4em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-solid:hover {
  background-color: #d966ff;
  cursor: pointer;
}

.tbutton-shadow {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .4em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-shadow:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tbutton-shadow:active {
  background-color: #d966ff;
  color: white;
}

form {
  margin: .25em;
}

.tform {
  border-radius: .8em;
  background-color: #f2f2f2;
  padding: 1em;
  width: fit-content;
}

input {
  margin: .25em;
}

.tinput {
  padding: .4em;
  border: none;
}


.tinput-2 {
  padding: .4em;
  border: none;
  border-radius: .25em;
  border-bottom: 1.5px solid gray;
}

.tinput-2:focus {

}

.tinput-3 {
  padding: .4em;
  border: 2px solid #9900cc;
  border-radius: .25em;
}

.tinput-3:focus {
  /* border-bottom: 1.5px solid gray; */

}

.tinput-4 {
  padding: .4em;
  border-radius: .25em;

}

.tinput-4:focus {
  border: 2px solid #9900cc;
  /* border-bottom: 1.5px solid gray; */

}

.tform-2 {
  background-color: #f2f2f2;
  padding: 1em;
  width: fit-content;
}

.tform-2 h3{
  margin: .2em;
}

input.tinput-5 {
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.tinput-5 {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.tinput-5:focus + label {
  width: 80%;
}

input.tinput-5:focus,
input.tinput-5:valid {
  padding-top: 35px;
}

textarea.tinput-5:valid,
textarea.tinput-5:focus {
  margin-top: 35px;
}

input.tinput-5:focus + label > span,
input.tinput-5:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

input.tinput-5:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.tinput-5:invalid {
  box-shadow: none;
}

input.tinput-5 + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input.tinput-5:focus {
  outline: 0;
}
