* {
  font-family: Ubuntu;
}

button {
  margin: .25em;
}

.tbutton {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .4em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.tbutton:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-tilt {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .4em .8em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-tilt:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton-tilt:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-tilt2 {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .8em .4em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-tilt2:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton-tilt2:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-left {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .8em .3em .3em .8em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-left:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton-left:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-right {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .3em .8em .8em .3em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-right:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
}

.tbutton-right:active {
  background-color: #d966ff;
  color: white;
}

.tbutton-solid {
  border: none;
  padding: .6em 1em;
  border-radius: .4em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-solid:hover {
  background-color: #d966ff;
  cursor: pointer;
}

.tbutton-shadow {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .4em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbutton-shadow:hover {
  background-color: #fff;
  cursor: pointer;
  color: #cc33ff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tbutton-shadow:active {
  background-color: #d966ff;
  color: white;
}

.tbuttons {
  border: 2px solid;
  border-color: #4286f4;
  padding: .6em 1em;
  /* border-radius: .4em; */
  background-color: #4286f4;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.tbuttons:hover {
  background-color: #fff;
  cursor: pointer;
  color: #4286f4;
}

.tbuttons:active {
  background-color: #4286f4;
  color: white;
}

.tbuttonsr {
  border: 2px solid;
  border-color: #4286f4;
  padding: .6em 1em;
  background-color: #4286f4;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.tbuttonsr:hover {
  border-radius: .4em;
  background-color: #fff;
  cursor: pointer;
  color: #4286f4;
}

.tbuttonsr:active {
  background-color: #4286f4;
  color: white;
}

.tbuttons-tilt {
  border: 2px solid;
  border-color: #4286f4;
  padding: .6em 1em;
  background-color: #4286f4;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbuttons-tilt:hover {
  border-radius: .4em .8em;
  background-color: #fff;
  cursor: pointer;
  color: #4286f4;
}

.tbuttons-tilt:active {
  background-color: #4286f4;
  color: white;
}

.tbuttons-tilt2 {
  border: 2px solid;
  border-color: #4286f4;
  padding: .6em 1em;
  background-color: #4286f4;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.tbuttons-tilt2:hover {
  border-radius: .8em .4em;
  background-color: #fff;
  cursor: pointer;
  color: #4286f4;
}

.tbuttons-tilt2:active {
  background-color: #4286f4;
  color: white;
}


form {
  margin: .25em;
}

.tform {
  border-radius: .8em;
  background-color: #f2f2f2;
  padding: 1em;
  width: fit-content;
}

input {
  margin: .25em;
}

.tinput {
  padding: .4em;
  border: none;
}


.tinput-2 {
  padding: .4em;
  border: none;
  border-radius: .25em;
  border-bottom: 1.5px solid gray;
}

.tinput-2:focus {

}

.tinput-3 {
  padding: .4em;
  border: 2px solid #9900cc;
  border-radius: .25em;
}

.tinput-3:focus {
  /* border-bottom: 1.5px solid gray; */

}

.tinput-4 {
  padding: .4em;
  border-radius: .25em;

}

.tinput-4:focus {
  border: 2px solid #9900cc;
  /* border-bottom: 1.5px solid gray; */

}

.tform-2 {
  background-color: #f2f2f2;
  padding: 1em;
  width: fit-content;
}

.tform-2 h3{
  margin: .2em;
}


/* https://codepen.io/sntran/pen/mydoYG
https://codepen.io/fluxus/pen/xwDzB
https://codepen.io/waynedunkley/pen/mJbdZO
https://codepen.io/atunnecliffe/pen/gpKzQw

 */


 .tlist {
   background-color: gray;
   width: fit-content;
   padding: 1em;
   list-style-type: square;
 }

 .tlist2 {
   background-color: gray;
   width: fit-content;
   padding: 1em;
   list-style-type: circle;
 }


 .tlist3 {
   background-color: gray;
   width: fit-content;
   padding: 1em;
   list-style-position: outside;
 }


 .tlist4 {
   background-color: gray;
   width: fit-content;
   padding: 1em;
   list-style-position: inside;
 }


.tlitem-1 {

}

.tlitem-2 {

}

.tlitem-3 {

}

.tlitem-4 {

}

.tlitem-5 {

}

.tlitem-6 {
color: green;
}

.tlistnb {
  background-color: gray;
  width: fit-content;
  padding: 1em;
  list-style: none;
}

.tcontainerrow {
  background-color: pink;
  display: flex;
  flex-direction: row;
  width: fit-content;
  padding: 1em;
  justify-content: center;
  align-items: center;

}

.tcontainercol {
  background-color: orange;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.sws-container {
    display: flex;
    overflow-x: auto;
}

.sws-container img {
    margin-right: 15px;
    width: 30em;
    height: 30em;
}

.sws-container::-webkit-scrollbar {
    display: none;
}
